@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
  font-weight: normal;
}

.container {
  max-width: 100%;
  padding: 20px 80px;
}

.list-menu {
  list-style: none;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.gap-32 {
  gap: 32px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-16 {
  margin-bottom: 16px;
}

.p-10 {
  padding: 10px
}

.p-20 {
  padding: 20px
}

.px-80 {
  padding-right: 80px;
  padding-left: 80px;
}

.py-24 {
  padding-top: 24px;
  padding-left: 24px;
}

.font-700 {
  font-weight: 700;
}

.color-white {
  color: #fff;
}

.color-black {
  color: #000;
}

.bg-black {
  background: #000;
}

.text-decoration-none {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.border-radius-4 {
  border-radius: 4px;
}

.w-full {
  width: 100%;
}

.max-w-150 {
  width: 150px;
}

.h-500 {
  height: 500px;
}

.bg-eee {
  background: #eee;
}

.tx-center {
  text-align: center;
}


